
h2{

    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    color: aqua;
    
}

.centro{
    background-color: #e9f1f3;
    height: 200px;
    width: 90%;
    position: relative;
    left: 15px;
    
}



