
<div class="container">
    <div class="row">

        <div class="col-lg-4">
        </div>
        <div class="col-lg-4" centralizar topo >
            <mdb-form-control>
                <input mdbInput type="text" id="iptusuario" class="form-control" />
                <label mdbLabel class="form-label" for="lblusuario">Usuário</label>
                </mdb-form-control>
            <br>
                <mdb-form-control>
                <input mdbInput type="password" id="iptsenha" class="form-control" />
                <label mdbLabel class="form-label" for="lblsenha">Senha</label>
                </mdb-form-control>
            <br>
                <button type="button" class="btn btn-primary btn-rounded" mdbRipple>Acessar</button>
        </div>
    
        <div class="col-lg-4">
        </div>

    </div>

   


</div>

