.topo{
    position: relative;
    top: 50px;
}

body {
            margin: 0;
            padding: 0;
            background-image: url('carros_confianca-1080x565.jpg'); /* pasta: src/main/resources/static/images */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex; /* para centralizar */
            align-items: center;
            justify-content: center;
        }

.centralizar {
            text-align: center;
        }

.card {
            background-color: rgba(255, 255, 255, 0.9); /* branco com transparência */
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
        }

h1 {
            color: #ebc36d;
            margin-bottom: 20px;
        }

